@font-face {
  font-family: 'comfortaaregular';
  src: url("../fonts/comfortaa-regular-webfont.woff2") format("woff2"), url("../fonts/comfortaa-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.04); }

hr {
  border: solid 1px #822000; }

.red {
  color: #822000; }

.bold {
  font-weight: bold; }

.not-bold {
  font-weight: normal; }

.italic {
  font-style: italic; }

.text {
  font-weight: normal; }

.container {
  margin: 8vh auto auto auto; }

.stat-block-template-wrapper {
  margin: 8vh auto auto auto;
  width: 80%; }

.btn-collapsible {
  background-color: #777;
  font-family: "Carrois Gothic SC", "MrsEavesSmallCaps", "Roboto", "Helvetica", "sans-serif";
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  border: 1px solid black;
  margin-bottom: 1%; }

.active, .btn-collapsible:hover {
  background-color: #555; }

.btn-collapsible:after {
  content: '\002B';
  font-size: 1.2em;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

.active:after {
  content: "\2212";
  font-size: 1.2em; }

.stat-block-template {
  font-family: "MrsEavesSmallCaps", "Roboto", "Helvetica", "sans-serif";
  background-image: url("../images/monster-background.png");
  font-size: 1em;
  margin: 0 1% 1% 1%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out; }
  .stat-block-template .stat-block-border {
    display: block;
    height: 5px;
    background-color: #caa472;
    border: 0.5px solid black; }
  .stat-block-template .stat-block-inner {
    padding: 3%; }
    .stat-block-template .stat-block-inner .stat-name {
      font-family: "Carrois Gothic SC", "MrsEavesSmallCaps", "Roboto", "Helvetica", "sans-serif";
      font-size: 1.8em; }
    .stat-block-template .stat-block-inner .stat-type {
      font-size: 0.8em; }
    .stat-block-template .stat-block-inner .stat-red-line {
      margin: 1% 0; }
      .stat-block-template .stat-block-inner .stat-red-line .red-line-img {
        min-height: 10px;
        max-width: 100%; }
    .stat-block-template .stat-block-inner .stat-ability-scores {
      display: block; }
      .stat-block-template .stat-block-inner .stat-ability-scores .ability-scores-list {
        padding: 0 1%;
        width: 100%;
        margin: 0;
        overflow: hidden; }
        .stat-block-template .stat-block-inner .stat-ability-scores .ability-scores-list .ability-score-title {
          display: inline-block;
          width: 15%;
          text-align: center; }
        .stat-block-template .stat-block-inner .stat-ability-scores .ability-scores-list .ability-score-content {
          display: inline-block;
          width: 15%;
          text-align: center; }
    .stat-block-template .stat-block-inner .action-text {
      padding-bottom: 2%; }
      .stat-block-template .stat-block-inner .action-text .action-text-paragraph {
        font-style: normal; }
    .stat-block-template .stat-block-inner .action-text-header-title {
      font-size: 1.5em;
      font-family: "MrsEavesSmallCaps", "Roboto", "Helvetica", "sans-serif";
      padding: 1% 0;
      line-height: 1.5; }

.nav-hamburger {
  background: #191919;
  position: fixed;
  height: 8vh;
  left: 0;
  top: 0;
  width: 100%; }
  .nav-hamburger .logo {
    font-size: 2em;
    font-family: "comfortaaregular", "MrsEavesSmallCaps", "Roboto", "Helvetica", "sans-serif";
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%); }
    .nav-hamburger .logo a {
      text-decoration: none;
      cursor: pointer;
      color: brown; }
  .nav-hamburger .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%); }
    .nav-hamburger .hamburger .line {
      width: 30px;
      height: 3px;
      background: #fff;
      margin: 5px; }
  .nav-hamburger .nav-links {
    position: fixed;
    display: block;
    height: 100%;
    width: 20vw;
    list-style: none;
    flex-direction: column;
    text-align: center;
    right: 0;
    top: 8vh;
    background-color: #191919;
    transition: 0.5s; }
    .nav-hamburger .nav-links .nav-links-element .nav-links-text {
      color: #fff;
      display: block;
      text-decoration: none;
      transition: 0.5s;
      white-space: nowrap;
      width: 100%;
      padding: 3.2vw;
      background-color: #262626;
      border-bottom: 1px solid #191919;
      cursor: pointer; }
    .nav-hamburger .nav-links .nav-links-element .nav-links-text:hover {
      background-color: #3b3b3b; }

@media screen and (max-width: 768px) {
  .stat-block-template-wrapper {
    width: 100%; }
  .nav-hamburger .nav-links {
    width: 0; } }
